<!DOCTYPE html>
<title>{{title}}</title>
<link rel="stylesheet" href="/stylesheet.css">

<header>
    {{#if userId}}
    <a href="/logout">
        <button type="button" id="signOut">Sign out</button>
    </a>
    <a href="/profile/edit">
        <button type="button" id="manageProfile">Manage your profile</button>
    </a>
    {{/if}}
</header>

{{{body}}}


<footer>
    © 2019 Dominika Tazikova
</footer>
