<h3>Tell us something about you</h3>

<form method="POST">
    <div class="additionalInfo">
    <input name="age" type="text" placeholder="Age">
    <input name="city" type="text" placeholder="City">
    <input name="homepage" type="text" placeholder="Homepage">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="continue">Continue</button>
    </div>
</form>
