<h3>Tell us something about you</h3>

{{#if error}}
<div class="err">Ooops! Something went wrong</div>
{{/if}}

<form method="POST">
    <div class="additionalInfo">
    <input name="age" type="number" placeholder="Age">
    <input name="city" type="text" placeholder="City">
    <input name="homepage" type="url" placeholder="Homepage">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="continue">Continue</button>
    </div>
</form>
