<div id="registration">

<h2>No cash! Let's use creditcards in Germany.</h2>

<h3>If you agree please register to sign the petition</h3>

{{#if error}}
<div class="err">Ooops! Something went wrong</div>
{{/if}}

<form method="POST">
    <div class="regInfo">
    <input name="firstName" type="text" placeholder="First Name">
    <input name="lastName" type="text" placeholder="Last Name">
    <input name="email" type="text" placeholder="Email Address">
    <input name="password" type="password" placeholder="Password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="signUp">SIGN UP</button>
    </div>
</form>

<p>If you are already a member, please <a href="/login">log in.</a></p>
</div>
